
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TheMaster</title>
    @RenderSection("HeaderScripts",false)
</head>
<body>
    <div>
        @RenderBody()        
    </div>
</body>
</html>
